<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860780974282-g1t84c65sdmv6mh1bapgv1noqssh48es.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860780974282-g1t84c65sdmv6mh1bapgv1noqssh48es</string>
	<key>API_KEY</key>
	<string>AIzaSyCFORlQDCFXIRfrnoUey56Cq3oNcql0y7w</string>
	<key>GCM_SENDER_ID</key>
	<string>860780974282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.parque_cambui</string>
	<key>PROJECT_ID</key>
	<string>pqcambui-41a18</string>
	<key>STORAGE_BUCKET</key>
	<string>pqcambui-41a18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860780974282:ios:01f6a7308d40e50820a433</string>
	<key>DATABASE_URL</key>
	<string>https://pqcambui-41a18-default-rtdb.firebaseio.com</string>
</dict>
</plist>